@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    grid-auto-rows: 150px;
}

.grid_item {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.grid_item:nth-child(1),
.grid_item:nth-child(5){
    background-color: aqua;
}

.grid_item:nth-child(2),
.grid_item:nth-child(4){
    background-color: pink;
}
