* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin: 50px auto;
    background: #ece9e1;
    padding: 100px !important;
    border-radius: 20px;
}

table tr{
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
}
  
th, td {
    padding: 12px;
    text-align: left;
}
  

td{
    background-color: #f2d6c0;
    
}