* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: #ff4400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.logo{
  border: none;
  font-size: 40px;
  color: #fff;
}

.menu-i{
  border: none;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.menu-i a{
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.menu-i a:hover{
  color: #000;
}

.menu-l{
  border: none;
}

.menu-l button{
  padding: 8px 14px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  transition: 0.2s;
}

.menu-l button:hover{
  background-color: #fff;
  color: #000;
}